body{
        background-image: url("../images/14770.jpg");
        height: 100%; 
        margin: 0;
        background-position:left;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
   }
    


#header{
        font-weight: bold;
        font-size: 30px;
        height:50px;
        width:500px;
        color: #ffffff;
        background-color: rgba( 0, 0, 0, .7);
        border: solid 2px #ffffff;
        text-align: center;
        padding-top:20px;
        margin-left: 10px;
        
}

.rules { 
        height:230px;
        width:450px;
        color: #ffffff;
        background-color: rgba( 0, 0, 0, .7);
        border: solid 2px #ffffff;
        margin-top:10px;        
        padding-top:10px;
        margin-left: 10px;
        padding:25px;
        text-align: center;
    
}  


    #parentBox{
        margin:10px 0 0 0px;
        width: 550px;
        height:100px;
}

    .randomNum {
        text-align: center;
        margin-top:10px;
        margin-top:20%;
}

    #divider{
        width:43%;
        height: 90%;
        float:left;
        background-color: rgba( 0, 0, 0, .7);
        border: solid 2px #ffffff;
        color:#ffffff;
        margin-left: 15px;
}

    .results {
        padding-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
}

    #winsNloss{
        margin-left:10px;
        width:43%;
        height:90%;
        float:left;
         background-color: rgba( 0, 0, 0, .7);
         border: solid 2px #ffffff;
    color:#ffffff;
}

    #buttons{
        height:90px;
        width:378px;
        margin-left: 65px;

}

    #total{
        background-color: rgba( 0, 0, 0, .7);
        border: solid 2px #ffffff;
        color:#ffffff;
        height:20px;
        width:480px;
        margin-left: 10px;
        padding: 10px;
}

     #sum{
        background-color: rgba( 0, 0, 0, .7);
        border: solid 2px #ffffff;
        color:#ffffff;
        height: 25px;
        width: 460px;
        margin-left: 10px;
        margin-top: 5px;
        text-align: center;
        padding: 20px;
        margin-bottom: 20px;
}











  










